/* CSS Document */

/*   ------    GLOBAL    --------  */

body {
	background: #B5BA84;
	padding: 0;
	margin: 0;
}

#masthead {
	position: relative;
	height: 146px;
	margin: 0px;
	width: 900px;
}
.header {
	margin-top: 0px;	
	left: 0px;	
}
#container2 {
	position: relative;
	width:100%;
	overflow:hidden;
	background:#E6E4CF; /* column 2 background colour */
}
#container1 {
	position: relative;	
	width:220px;
 	background-color:#B5BA84; /* column 1 background colour */
}
#col1 {
	float:left;
	width:220px;
	position:relative;
 	background-color:#B5BA84;
/*	background-color: white;
	border: 1px dashed blue;*/
	bottom: 0px;
    min-height:100%;		
}
#col2 {
	left: 220px;
	width:680px;
	position:absolute;
 	background-color: #E6E4CF;
/* 	background-color: green;	
	border-color: 1px solid green;*/
}


/*   --------- side navbar --------  */

/* main sid nav start */

#leftnav
{
	margin-top: 10px;
	width:220px;
	text-align: left;
	background-color: #B5BA84; 
	float: left;
	padding: 0;
	/*border: 1px solid blue;*/	
	bottom: 0px;
    min-height:100%;		
}
#leftnav div
{
	border: 1px solid #B5BA84;
	border-width: 0;
	padding: 0;
	background: #B5BA84; /* color of resting nav */
}

#leftnav ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #B5BA84;
	
}

#leftnav li
{
	color: #005A48; /* overridden */
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #B5BA84;
	border-top: 1px solid #B5BA84;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
}

#leftnav li:hover
{
	background-color: #D1D3A4;
}

#leftnav li a
{
	color: #587969;
	padding: 3px 7px 3px 15px;
	display: block;
	text-decoration: none;
}

/* IE fix */
html>body #leftnav li a {
	width: auto;
}

#leftnav li a:hover
{
	background-color: #D1D3A4;
}

#leftnav li.on {
	background-color: #D1D3A4;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
}

/* main side nav end */

/*secondary nav start*/

#leftnav ul.secondbg  {
	background-color: #D0D3A4;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
}

#leftnav li.navheader  {
	color: #587969;
	margin: 0px 0px 0px 20px;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	font-size: 10px;
	font-weight: bold;
}

#leftnav li.second  {
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	font-size: 10px;
	font-weight: 100;
}

#leftnav li.second a {
	color: #587969;
	margin: 0px 0px 0px 20px;
}

#leftnav li.second a:hover {
	background-color: #e3e5cf;
}

#leftnav li.secondon {
	color: #587969;
	margin: 0px 0px 0px 40px;
	padding: 3px 7px 3px 15px;
	background-color: #e3e5cf;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	font-size: 10px;
	font-weight: 100;
}

/*secondary nav end*/	

/*tertiary nav start*/

#leftnav ul.thirdbg  {
	background-color: #D0D3A4;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	margin: 0px 0px 0px 40px;
}


#leftnav li.third  {
	margin: 0px 0px 0px -20px;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	font-size: 10px;
	font-weight: 100;
}

#leftnav li.third a {
		margin: 0px 0px 0px 20px;
		color:#ae6957;
}

#leftnav li.third a:hover {
	background-color: #e3e5cf;
}

#leftnav li.thirdon {
	color:#ae6957;
	margin: 0px 0px 0px 55px;
	padding: 3px 7px 3px 15px;
	background-color: #e3e5cf;
	border-top: 1px solid #D1D3A4;
	border-bottom: 1px solid #D1D3A4;
	font-size: 10px;
	font-weight: 100;
}

/*tertiatry nav end*/

/*   --------- side navbar end --------  */

/*   --------- image & text --------  */

.imgWrapLeft {
	float: left;
	padding: 12px 20px 5px 0px;
}
.imgWrapRight {
	float: right;
	padding: 12px 20px 12px 20px;
}
.imgWrap { padding: 12px 20px 12px 20px; }

h1, h2, h3, h4, p, ul, li {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}


h1 {
	font-size: 18px;
	line-height: 20px;
	color: #587969;
	padding: 0 35px 0 25px;
	margin: 20px 0 0 0;
}
h2 {
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	padding: 0 35px 0 25px;
	margin: 20px 0 0 0;
}

p {
	font-size: 13px;
	line-height: 18px;
	color: #000;
	padding: 0 20px 0 27px;
	margin: 12px 0;
}
p a { text-decoration: none; color:#587969; }
p a:hover { text-decoration: underline; }

ul {
	font-size: 13px;
	line-height: 18px;
	color: #000;
}

.green {
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 1px;
	color:#587969;
}
/*   --------- end image & text --------  */

/*   ------    footer    --------  */

#footerPHP {
	position: relative;
	height: auto;
	float: left;
	width: 650px;
	background-color: #E6E4CF;
 /* background-color: #fff;	*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;		
	text-align: left;
}
#footerPHP a { text-decoration: none; color:#587969;}
#footerPHP a:hover { text-decoration: underline; color:#587969;}

/*   ------    homepage    --------  */

.HPwrapper {
	position: absolute;
	top: 96px;
	left: 0px;
	width: 959px;
	height: 567px;
	/*border: 1px solid red;*/
	background: url(../images/home/hp_background.jpg) no-repeat;
}

.HPnav {
	position:absolute;
	top: 10px;
	left: 0px;
}
	
#topImages {
	position: absolute;
	top: 0px;
	left: 0px;
}

#QTvideo {
	position: absolute;
	top: 191px;
	left: 300px;
}

#VDKRquote {
	position:absolute;
	top: 20px;
	left: 529px;
	width: 250px;
	color: #FFFFFF;
	font-size:15px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}

#newsFeed {
	position: absolute;
	top: 425px;
	left: 0px;
	width: 510px;
}

#newsFeed a {
	color:#FFFFFF;
	}
	
#newsFeed a hover{
	color:#FFFFFF;
	text-decoration:underline;
	}